$tint : #26a69a;

@import "materialize/dialog";
@import "materialize/attachments";
@import "materialize/opengraph_picker";
@import "materialize/file_picker";
@import "materialize/url_picker";
@import "materialize/page_editor";
@import "materialize/menu_editor";
@import "materialize/ckeditor";
@import "materialize/sidenav";
@import "materialize/multiple_image_picker";
@import "tomSelect";
@import "plugins";
@import "settings";
@import "../theme/form";

.search-form {
  display: flex;
  align-items: center;
  input { flex-grow: 1 }
  .ts-wrapper { margin: 0 0.5em; }
}

.controls {
  margin-bottom: 1em;
}

.select-wrapper {
  $offset: 30px;
  top: $offset;
  svg.caret { top: -$offset; }
  &::after {
    content: " ";
    display: block;
    height: $offset;
    width: 100%;
  }
}

.nav-wrapper > a {
  font-size: 1.5em !important;
  line-height: 60px !important;
}

.modal {
  display: block !important;
  padding: 0 1em;
  .popup-title + .btn {
    margin-top: 1.6em;
  }
}

.aligned-inputs {
  align-items: center;
  .input-field {
    .select-wrapper {
      margin-top: -1.9em;
    }
    label:has(+.select-wrapper) {
      transform: translateY(-14px) scale(0.8);
      transform-origin: 0 0;
    }
  }
}

.btn-group.cms-paginator {
  text-align: center;
}

.tomselect-form-group {
  label {
    position: relative;
    &::first-letter { text-transform: capitalize; }
  }
}

.input-field label:has(+ #tagPicker) {
  transform: translateY(-14px) scale(0.8);
  transform-origin: 0 0;
}

.thumbnail-form-group, .audio-form-group {
  display: flex;
  align-items: center;
  input { margin-right: 1em !important; }
  button { min-width: 200px; }
  img, audio { margin-left: 1em; max-width: 20%; }
}

.customized-form-group {
  label {
    position: initial;
  }
}

.flash {
  display: block;
  padding: 24px;
  margin: .5rem 0 1rem 0;
  border-radius: 2px;
  &.flash-info {
    background-color: #4db6ac !important;
  }
  &.flash-error {
    background-color: #f44336 !important;
  }
  &.flash-warning {
    background-color: #cddc39 !important;
  }
  &.flash-success {
    background-color: #00e676 !important;
  }
}

@media (max-width: 992px) {
  #nav-mobile > li > div > .hide-on-med-and-down {
    display: block !important;
  } 
}
