/*
 * preload.min.css
 */
.ms-preload{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#eee;z-index:50000;height:100%;width:100%}.spinner{width:60px;height:60px;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;text-align:center;-webkit-animation:sk-rotate 2.0s infinite linear;animation:sk-rotate 2.0s infinite linear}.dot1,.dot2{width:60%;height:60%;display:inline-block;position:absolute;top:0;background-color:#607d8b;border-radius:100%;-webkit-animation:sk-bounce 2.0s infinite ease-in-out;animation:sk-bounce 2.0s infinite ease-in-out}.dot2{top:auto;bottom:0;-webkit-animation-delay:-1.0s;animation-delay:-1.0s}@-webkit-keyframes sk-rotate{100%{-webkit-transform:rotate(360deg)}}@keyframes sk-rotate{100%{transform:rotate(360deg);-webkit-transform:rotate(360deg)}}@-webkit-keyframes sk-bounce{0%,100%{-webkit-transform:scale(0)}50%{-webkit-transform:scale(1)}}@keyframes sk-bounce{0%,100%{transform:scale(0);-webkit-transform:scale(0)}50%{transform:scale(1);-webkit-transform:scale(1)}}

@charset "UTF-8";
@import "../node_modules/animate.css/animate";
@import "../node_modules/@materializecss/materialize/dist/css/materialize";
@import "theme/layout";
@import "theme/header";
@import "theme/navbar";
@import "theme/logo";
@import "theme/flash";
@import "theme/card_info";
@import "theme/component_screenshots";
@import "theme/component_ribbon";
@import "theme/thumbnail";
@import "theme/form";
@import "theme/footer";

.color-primary {
  color: #4fc3f7;
}

.text-center {
  text-align: center;
}

.bg-info {
  background-color: #00bcd4!important;
  color: #fff;
}

.btn-group {
  &.cms-paginator {
    text-align: center;
  }
}

.btn-circle {
  height: 50px;
  width: 50px;
  color: #616161;
  display: inline-block;
  border-radius: 200rem;
  text-align: center;
  line-height: 50px;
  position: relative;
  z-index: 1;
  -webkit-transition: color ease .5s;
  transition: color ease .5s;
  -webkit-transition: box-shadow ease-in-out 0s;
  transition: box-shadow ease-in-out 0s;
  border: 0;
  background-color: transparent;
  &:before {
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    border-radius: 150px;
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    background-color: #eee;
    height: 0;
    width: 0;
    top: 25px;
    left: 25px;
  }
  &:hover, &:focus {
    color: #616161;
    -webkit-transition: box-shadow ease-in-out .8s;
    transition: box-shadow ease-in-out .8s;
    &:before {
      height: 50px;
      width: 50px;
      top: 0;
      left: 0;
    }
  }
}
