@import "admin/main";

.container .content {
  padding: 0 !important;
}

.btn-group > form {
  display: inline-block;
}

.proudcms-page-editor {
  @import "custom";

  .container {
    width: 100% !important;
    @import "theme";
    @import "custom";
  }

  .wrap {
    padding: 0 !important;
    position: relative;

    > nav, > .container {
      position: relative;
    }
  }

  [data-component="screenshots"] {
    .ms-hero-img {
      position: relative;
      > div > img {
        width: 100%;
        height: 100%;
        &:not(:first-of-type) {
          display: none;
        }
      }
    }
  }

  [data-component="decoratedRibbon"] {
    .container > .row {
      margin-bottom: 0 !important;
    }
  }
}
